body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.Login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
}

.Login input {
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 8px;
}

::placeholder {
  color: black;
}

.Documento {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.Documento button {
  width: 250px;      
  height: 45px;     
  border-radius: 10px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.Documento button:hover {
  background-color: black;
  color: #fff;
  border: 1px solid black;
}


.buttonlogin {
  padding: 10px 80px; 
  border-radius: 10px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
